<!--{{#if this}}-->
<!--<div class="well span6" id="messageForm">-->
<!--<div id="legend">-->
<!--<legend class="">Board Messages</legend>-->
<!--</div>-->
<!--<table id="messageTable" class="message table table-hover tablesorter">-->
<!--<thead>-->
<!--<th class="header">ID</th>-->
<!--<th class="header">Subject</th>-->
<!--<th class="header">Author</th>-->
<!--<th class="header">Date Of Issue</th>-->
<!--</thead>-->
<!--<tbody>-->
        <!--{{#each this}}-->
<!--<tr>-->
<!--<td class="ID">{{id}}</td>-->
<!--<td>{{subject}}</td>-->
<!--<td>{{author.username}}</td>-->
<!--<td>{{dateOfIssue.dayOfMonth}}/{{dateOfIssue.monthOfYear}}/{{dateOfIssue.year}}</td>-->
<!--</tr>-->
        <!--{{/each}}-->
<!--</tbody>-->
<!--</table>-->
<!--</div>-->
        <!--{{else}}-->
<!--<div id="messageForm" class="well span6">-->
<!--<div id="legend">-->
<!--<legend class="">Board Messages</legend>-->
<!--</div>-->
<!--<table class="users table table-hover ">-->
<!--<tr>-->
<!--</tr>-->
<!--</table>-->
<!--</div>-->
        <!--{{/if}}-->




{{#if this}}
		<div class="well span6">
	{{#each this}}
			<div class="well span5">
			    <img src="http://a.dryicons.com/images/icon_sets/grey_moonlight_icons/png/128x128/comments.png"
			         class="pull-left" width="60">
			    <h4>
						{{subject}}
			    </h4>
				{{dateOfIssue.dayOfMonth}}/{{dateOfIssue.monthOfYear}}/{{dateOfIssue.year}}

			    <p>
						{{messageText}}
			    </p>
			</div>
	{{/each}}
	</div>
{{else}}
	NoData at server
{{/if}}