<div class="well span12" onclick="window.location='#messageBoard/{{id}}'" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="input-prepend">
        <label for="messageId">מספר הודעה</label>
        <input type="text" class="messageId" value="{{id}}" disabled>
    </div>
    <div class="input-prepend">
        <label for="dateOfIssue">תאריך יצירה</label>
        <input type="text" class="dateOfIssue "
               value="{{#if dateOfIssue}}{{date dateOfIssue}}{{/if}}" disabled>
    </div>
    <!--subject-->
    <div class="input-prepend">
        <label for="Subject">נושא</label>
        <input type="text" class="subject " value="{{subject}}" readonly="true"
               ondblclick="this.readOnly=false">
    </div>
    <!-- author.username -->
    <div class="input-prepend">
        <label for="author.username ">מחבר ההודעה</label>
        <input type="text" class="author.username " value="{{author.username}}" placeholder="author.username"
               required="required" disabled>
    </div>
    <!--message-->
    <div class="input-prepend">
        <label for="messageText">הודעה</label>
        <textarea type ="text" name="message" class="messageText" placeholder="Enter Your Message Here ..."
                  disabled>{{messageText}}</textarea>
    </div>
    <button class="btn save">שמור</button>
</div>