<div class="well span12" onclick="window.location='#messageBoard/{{id}}'">
    <div class="input-prepend">
        <span class="add-on">מספר הודעה</span>
        <input type="text" class="userID" value="{{id}}" disabled>
    </div>
    <div class="input-prepend">
        <span class="add-on">תאריך יצירה</span>
        <input type="text" class="dateOfIssue "
               value="{{#if dateOfIssue}}{{date dateOfIssue}}{{/if}}" disabled>
    </div>
    <!--subject-->
    <div class="input-prepend">
        <span class="add-on">נושא</span>
        <input type="text" class="subject " value="{{subject}}" readonly="true"
               ondblclick="this.readOnly=false">
    </div>
    <!-- author.username -->
    <div class="input-prepend">
        <span class="add-on">מחבר ההודעה</span>
        <input type="text" class="author.username " value="{{author.username}}" placeholder="author.username"
               required="required" disabled>
    </div>
    <!--message-->
    <div class="input-prepend">
        <span class="add-on">הודעה</span>
        <textarea type ="text" name="message" class="messageText" placeholder="Enter Your Message Here ..."
                  disabled>{{messageText}}</textarea>
    </div>
    <button class="btn save">שמור</button>
</div>