<h2 xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
    xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">Edit User Profile</h2>

<div class="input-prepend">
    <label for="userID">ID</label>
    <input type="text" class="userID" value="{{id}}" disabled>
	</div>
<div class="input-prepend">
    <label for="dateOfIssue">Since</label>
    <input type="text" class="dateOfIssue"  value="{{#if dateOfIssue}}{{date dateOfIssue}}{{/if}}" disabled>
</div>
<!--UserName-->
<div class="input-prepend">
    <label for="username">UserName</label>
    <input type="text" class="username" value="{{username}}" disabled>
</div>
<!-- E-mail -->
<div class="input-prepend">
    <label for="email">E-Mail</label>
    <input type="email" class="email" value="{{email}}" placeholder="Email" required="required">
</div>
<!-- First Name -->
<div class="input-prepend">
    <label for="firstName">FirstName</label>
    <input type="text" class="firstName" value="{{firstName}}" placeholder="First name">
</div>
<!-- Last Name -->
<div class="input-prepend">
    <label for="lastName">LastName</label>
    <input type="text" class="lastName" value="{{lastName}}" placeholder="Last name">
</div>
<!-- Membership Type-->
<div class="input-prepend">
    <label for="membership">Membership</label>
    <select class="membership span2">
        <option> {{membership}}</option>
        <option>resident</option>
        <option>member</option>
    </select>
</div>

<!-- Password-->
<div class="input-prepend">
    <label for="password">Password</label>
    <input type="password" class="password" name="password">
</div>
<!-- Password confirm -->
<div class="input-prepend">
    <label for="passwordConfirm">Password (Confirm)</label>
    <input type="password" class="passwordConfirm" name="passwordConfirm" >
</div>


<a class="btn save" href="#users">Update</a>
<!--<button class="btn save">Update</button>-->
