<h2>User Profile</h2>





<div class="input-prepend">
<span class="add-on">ID</span>
<input type="messageText" class="userID input-mini" value="{{id}}" disabled>
<span class="add-on">Since</span>
<input type="messageText" class="dateOfIssue input-small"
       value="{{dateOfIssue.dayOfMonth}}/{{dateOfIssue.monthOfYear}}/{{dateOfIssue.year}}" disabled>
</div>
<!--UserName-->
<div class="input-prepend">
<span class="add-on">UserName</span>
<input type="messageText" class="username input-xlarge" value="{{username}}" disabled>
</div>
<!-- E-mail -->
<div class="input-prepend">
    <span class="add-on">E-Mail</span>
    <input type="email" class="email input-xlarge" value="{{email}}" placeholder="Email"required="required" disabled>
</div>
<!-- First Name -->
<div class="input-prepend">
    <span class="add-on">FirstName</span>
    <input type="messageText" class="firstName input-xlarge"  value="{{firstName}}" placeholder="First name" disabled>
	</div>
<!-- Last Name -->
<div class="input-prepend">
    <span class="add-on">LastName</span>
    <input type="messageText" class="lastName input-xlarge"  value="{{lastName}}" placeholder="Last name" disabled>
</div>
<!-- Membership Type-->
<div class="input-prepend">
    <span class="add-on">Membership</span>
    <input type="messageText" class="membership input-xlarge"  value="{{membership}}" placeholder="Membership" disabled>
</div>

<a class="btn"  href="#updateProfile/{{id}}">Edit</a>
<span class="firstName">{{firstName}}</span>
<span class="lastName">{{lastName}}</span>